<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FOS APP | Your Page</title>
    <link rel="icon" href="assets/IMGS/global/accusoft-brands.png" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/CSS/plugins/bootstrap.min.css">

    <!-- Fontawsome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="assets/CSS/font-awesome-4.7.0/css/font-awesome.min.css" />

    <!-- Global Styling-->
    <link type="text/css" rel="stylesheet" href="assets/CSS/global.css">

    <!-- Your page Styling-->
    <link type="text/css" rel="stylesheet" href="assets/CSS/yourPage.css">
</head>

<body id="page=top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top " role="navigation" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <i class="fab fa-accusoft"></i>
                <span>FOS</span>
            </a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item" id="first_nav">
                        <a class="nav-link js-scroll-trigger" href="#home">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#report_missing">REPORT MISSING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#report_found">REPORT FOUND</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact_us">CONTACT US</a>
                    </li>
                </ul>
                <a class="btn btn-primary js-scroll-trigger" href="#services">LOGIN | REGISTER</a>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text fade-scroll">
                <div class="intro-heading">Find Our Souls</div>
                <div class="intro-lead-in">Lorem ipsum dolor sit amet, mucius iuvaret conceptam ius ex.</div>

            </div>
        </div>
    </header>


    <!-- HERE GOES YOUR CONTENT-->
    <div class="container text-center">
        <h1>HERE GOES YOUR CONTENT</h1>
    </div>

    <footer id="footer">
            <div class="container">
                <p>
                    <img class="logo" src="assets/IMGS/global/footer.png">
                </p>
                <p id="copyrights">&copy; FOS. All copyrights reserved 2019</p>
                <p class="footerMediaBtns">
                    <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
    
                    <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
    
                    <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
    
                    <a href="#">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </footer>
        <button id="topBtn"><i class="fas fa-angle-double-up"></i></button>
    <script src="assets/JS/plugins/jquery-3.3.1.slim.min.js"></script>
    <script src="assets/JS/plugins/popper.min.js"></script>
    <script src="assets/JS/plugins/bootstrap.min.js"></script>
    <script src="assets/JS/global.js"></script>
    <script src="assets/JS/yourPage.js"></script>
</body>

</html>